h2 NomNotes
div(style="width: 150px", class="col") [logo coming soon]
div(style="width: 280px", class="col")
  p A simple way to take notes.
  p Copyright &copy; 2011 
    a(href="http://josiahruddell.com", title="Josiah Ruddell") Josiah Ruddell