input.data-field(type="hidden", data-name="id")
h1.data-field#titletext.Empty(contenteditable="true", data-name="title") New Title
span.data-field#datetext.date(contenteditable="true", data-name="date")=date
span.data-field#timetext.time(contenteditable="true", data-name="time")=time
div.data-field#bodytext(contenteditable="true", data-name="body") Click to Edit