/*

____________________________________________
\\\|///
 \\|//   stylus writes better css
  \|/
   |


*/
* {
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
[contenteditable="true"]:focus {
  outline: none;
}
body {
  font: 77% "Lucida Grande", "Trebuchet MS", Georgia, serif;
  overflow-x: hidden;
}
h1 {
  color: #4c7fa8;
  margin: 10px 0;
  clear: both;
}
h2 {
  display: inline;
  margin: 0;
  padding: 0;
}
p {
  margin: 10px 0;
}
h1 sup,
sub {
  font-size: 9px;
  font-weight: normal;
}
#nav {
  width: 180px;
  position: fixed;
  height: 100%;
  background: rgba(238,238,238,0.85);
  top: 46px;
  left: 0;
  z-index: 98;
  border: 1px solid #b4b4b4;
  border-left: none;
  overflow: auto;
  visibility: hidden;
}
#main {
  left: 180px;
  visibility: hidden;
  position: relative;
  top: 26px;
  background: Transparent;
  z-index: 50;
}
#bar {
  position: relative;
  background: rgba(229,229,229,0.85);
  z-index: 99;
  background: -moz-linear-gradient(top, rgba(229,229,229,0.85) 0%, rgba(196,196,196,0.85) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,229,229,0.85)), color-stop(100%, rgba(196,196,196,0.85)));
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #757575;
  position: fixed;
  height: 25px;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
}
#nav * {
  color: #222;
}
#nav ul > li {
  padding: 3px 5px 4px 5px;
  margin: 2px 0;
  font-size: 12px;
  text-shadow: #fff 0 1px 0;
  cursor: default;
  text-offset: 5px;
  font-family: "Helvetica Neue";
}
#nav ul > li a {
  color: #738298;
  font-weight: bold;
  margin: -1px 5px 0 0;
  position: relative;
  top: -1px;
  font: 13px "Helvetica Neue";
  visibility: hidden;
  cursor: pointer;
}
#nav ul > li:hover a {
  visibility: visible;
  opacity: 0.8;
}
#nav ul > li.active:hover a {
  visibility: hidden;
}
#bar li {
  float: left;
}
#bar li a,
#bar span {
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
  cursor: default;
  color: #111;
  font-size: 13px;
}
section .contents {
  padding: 0 15px 15px;
}
section#bar .contents {
  padding: 0px 15px 0px 15px;
}
section#bar .icon {
  padding: 0 3 x;
  float: right;
}
section#nav .contents {
  padding: 10px 0 0 0;
}
section * {
  list-style: none;
  text-decoration: none;
}
.boxshadow {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
}
.rounded {
  border-radius: 3px;
}
.hide {
  display: none;
}
hr {
  height: 1px;
  padding: 0;
  background: #ccc;
  margin: 5px 1px;
  border: none;
}
.icon.search span {
  background: url("/images/icons/search_zoom_black.png") 2px 3px no-repeat;
  background-size: 82%;
  cursor: default;
  opacity: 0.85;
}
.icon.tags span {
  background: url("/images/icons/tag_black.png") 2px 3px no-repeat;
  background-size: 82%;
  cursor: default;
  opacity: 0.85;
}
#bar span.text {
  font-weight: bold;
}
.icon.search.active span {
  background: url("/images/icons/search_zoom_white.png") 2px 3px no-repeat;
}
.icon.tags.active span {
  background: url("/images/icons/tag_white.png") 2px 3px no-repeat;
}
#bar a.active,
#bar .active .text,
#nav ul li.active {
  background: #06f;
  background: -moz-linear-gradient(top, #6ca6d8 0%, #1e6cb4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ca6d8), color-stop(100%, #1e6cb4));
  color: #fff;
  text-shadow: 0 1px 0 #333;
}
.menu-window {
  padding: 5px 15px 5px 15px;
  position: fixed;
  right: 15px;
  top: 25px;
  background: -moz-linear-gradient(top, #6ca6d8 0%, #1e6cb4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ca6d8), color-stop(100%, #1e6cb4));
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
}
.menu-window input {
  margin-left: 20px;
  width: 200px;
  padding: 2px 7px;
  color: #111;
  font-size: 12px;
  border-radius: 10px;
  border: none;
}
.menu-window input:focus {
  padding: 2px 7px;
  border: none;
}
.menu-window div {
  padding: 5px 0;
}
.menu-window .text {
  display: inline-block;
  padding: 4px;
  color: #fff;
  font-weight: normal;
  text-shadow: #999 0 0.5px 0;
  text-decoration: none;
}
.menu-window .text:hover {
  color: #555;
  border-radius: 2px;
  background: #eff3fb;
  cursor: default !important;
}
.menu-window label {
  color: #fff;
  display: inline-block;
  width: 70px;
}
span.mark {
  visibility: hidden;
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-bottom: -4px;
  background-size: 95%;
  background: url("/images/icons/arrow_left_white.png") 5px 0px no-repeat;
}
span.mark.check {
  background: url("/images/icons/heck_yes_ok_white.png") 5px 0px no-repeat;
}
#login .spin {
  display: none;
  position: absolute;
  top: 23px;
  left: 50px;
}
#login.loading .spin {
  display: block;
}
#login.loading label {
  visibility: hidden;
}
#login div.reg {
  padding: 0;
}
#login div.reg * {
  margin-top: 5px;
}
img.gravatar {
  margin: 0 10px 10px 0;
  float: left;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
}
.menu-list {
  z-index: 98;
  width: 200px;
  position: fixed;
  background: rgba(255,255,255,0.95);
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px 0;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
}
.menu-list li {
  list-style: none;
  padding: 3px 5px;
  font-size: 105%;
}
.menu-list li.hr,
.menu-list li.hr:hover {
  height: 1px;
  padding: 0;
  background: #ccc;
  margin: 5px 1px;
}
.menu-list li:hover {
  background: #06f;
  background: -moz-linear-gradient(top, #6ca6d8 0%, #1e6cb4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ca6d8), color-stop(100%, #1e6cb4));
}
.menu-list li:hover a {
  color: #fff;
  text-shadow: #333 0 1px 0;
}
.menu-list li a {
  display: block;
  padding: 0 10px;
  color: #111;
  text-decoration: none;
}
.page {
  margin: 0 15px 15px;
  font-size: 107%;
}
section .page u {
  text-decoration: underline;
}
section .page strike {
  text-decoration: line-through;
}
section .page ul li {
  margin-left: 20px;
  list-style: circle;
}
section .page ol li {
  margin-left: 20px;
  list-style: decimal;
}
.date {
  color: #b0b0b0;
  position: absolute;
  top: 15px;
  right: 15px;
  font-style: italic;
}
.time {
  color: #b0b0b0;
  position: absolute;
  top: 30px;
  right: 15px;
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.oneformat,
.oneformat .sub-toolbar {
  z-index: 1050;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  color: #111;
}
.oneformat ul li {
  float: left;
  list-style: none;
  min-width: 16px;
  height: 16px;
  text-align: center;
  padding: 2px 4px;
  border-left: 1px solid #e1e1e1;
  cursor: default !important;
  position: relative;
}
.oneformat ul li:first-child {
  border-left: none;
}
.oneformat ul li .icon {
  top: 1px;
}
.oneformat .sub-toolbar {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 48px;
  width: 36px;
  padding: 1px 1px 1px 0;
}
.oneformat .sub-toolbar .color {
  border-radius: 2px;
  padding: 0;
  width: 10px;
  min-width: 10px;
  height: 10px;
  margin: 1px 0 1px 1px;
  display: block;
  float: left;
}
.page ::selection,
.page ::-moz-selection,
.page ::-moz-selection,
.page ::-webkit-selection {
  background: #a8d1ff;
}
.window {
  display: none;
  top: 26px;
  position: fixed;
  padding: 15px;
  background: #eee;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
  z-index: 98;
  border: 1px solid #ececec;
  border-top: none;
}
.window.compact {
  padding: 7px;
}
.window .text {
  color: #444;
  text-shadow: 0 1px 0 #fff;
  font: 11pt "Helvetica Neue";
}
.window .inner {
  position: relative;
  top: 0;
  left: 0;
}
.window h2 {
  margin-bottom: 10px;
  clear: both;
  display: block;
}
.window .inner p {
  display: block;
  font-size: 13px;
  margin: 0 0 10px;
}
#login .alignright {
  margin-right: 20px;
}
.alignright {
  text-align: right;
}
.alignleft {
  float: left;
  display: inline-block;
}
.window .inner p.alignright {
  text-align: right;
  margin-bottom: 0;
  margin-top: 15px;
}
.window .inner .col {
  float: left;
}
.window label {
  display: block;
  padding: 0 0 3px 3px;
}
.window button {
  margin-left: 5px;
}
.window .header h2 {
  text-align: center;
}
.window .header .back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.window .header a {
  margin-right: 5px;
}
.drilldown li {
  float: left;
  list-style: none;
}
.drilldown li > .item {
  float: left;
}
.drilldown .item-icon {
  float: left;
  width: 100px;
  margin: 20px 30px 0 0;
  text-align: center;
  padding: 6px;
}
.drilldown .item-icon:hover {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.drilldown .item-content {
  display: none;
}
