body .box4
  color #f8f8f2
  // font-family "Helvetica Neue"
  background #222222
  background -webkit-gradient(linear, 0% 20%, 0% 100%, from(#222), to(#282828), color-stop(.2, #282828))
  background -moz-linear-gradient(0% 0% 360deg, #222222, #000 20%, #282828 )
  border 1px solid #1e1e1e


body #nav
  background rgba(46, 46, 46, .9) //#2e2e2e
  border 1px solid #1e1e1e

body #bar
  background rgba(46, 46, 46, .9)
  background -moz-linear-gradient(top, rgba(46, 46, 46, .9) 0%, rgba(56, 56, 56, .9) 100%) // #2e2e2e #383838
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46, .9)), color-stop(100%,rgba(56, 56, 56, .9)))
  text-shadow 0 1px 0 #000
  // filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0)
  border-bottom 1px solid #2e2e2e

body #nav *
  color #b6b6b6

body #nav ul > li
  text-shadow #000 0 1px 0

body #nav ul > li a
  color #b6b6b6

body #bar li a, body #bar span
  color #b6b6b6

.active2
  background -moz-linear-gradient(top, #424242 0%, #4f4f4f 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#4f4f4f))

body #bar a.active, 
body #bar .active .text, 
body #nav ul li.active,
body .menu-window,
body .menu-list li:hover
  background #424242
  background -moz-linear-gradient(top, #424242 0%, #4f4f4f 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#4f4f4f))
  color #fff
  text-shadow: 0 1px 0 #000

body .menu-list
  background rgba(255, 255, 255, .8)

body .window
  background rgba(238, 238, 238, .9)